{% include 'navbar.html' %}

{% block content %}
{% endblock %}

<h1 style="text-align:center; margin:20px"><b>Likes</h1>


{% for e in events %}
<div class="row">
  <div class="col">
    {% if e.image %}
      <img src="{{ e.image.url }}" alt="image" class="img-thumbnail">
    {% else %}
      {% load static %}
      <img src="{% static 'download.png' %}" alt="img" class="img-thumbnail"> 
    {% endif %}
  </div>
  <div class="col">
    <p>{{ e.event_name }}</p>
    <p>{{ e.date }}</p>
    <p>{{ e.time }}</p>
    <p>{{ e.location }}</p>
    <button class="btn" style="font-size:24px"><i class="fa fa-heart" style="color:#DCDCDC"></i></button>
  </div>
</div>

{% comment %} <div>
  {% if e.image %}
    <img src="{{ e.image.url }}" alt="image" class="img-thumbnail">
  {% else %}
    {% load static %}
    <img src="{% static 'download.png' %}" alt="img" class="img-thumbnail">
  {% endif %}
  
  <p>{{ e.event_name }}</p>
  <p>{{ e.date }}</p>
  <p>{{ e.time }}</p>
  <p>{{ e.location }}</p>
</div> {% endcomment %}

{% endfor %}
